<!DOCTYPE html>
<head>
    <title> Payment </title>
</head>
<body>
    <center>  
        <br>

    <h2><b> PayTM  Payment </b> </h2>
    <form method="post">
        <br>
        {% csrf_token %}

        <label id="amount" for="amount">Enter Your Amount: </label>
        <input type="number" name="amount" value="" required> <br><br><br>
        <!-- <label id="order_id" for="order_id">Enter order_id: </label>
        <input type="text" name="order_id" value="" required> <br><br><br> -->

        <button type="submit" class="btn btn-primary">Pay Now</button>
                    
        
    </form>
    </center>
</body>
</html>

